In [82]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re
import ast

# Read the data

In [2]:
data = pd.read_csv('data.csv')
data =data[['review_id', 'text']]
data.head()

                review_id                                               text
0  x7mDIiDB3jEiPGPHOmDzyw  The pizza was okay. Not the best I've had. I p...
1  dDl8zu1vWPdKGihJrwQbpw  I love this place! My fiance And I go here atl...
2  LZp4UX5zK3e-c5ZGSeo3kA  Terrible. Dry corn bread. Rib tips were all fa...
3  Er4NBWCmCD4nM8_p1GRdow  Back in 2005-2007 this place was my FAVORITE t...
4  jsDu6QEJHbwP2Blom1PLCA  Delicious healthy food. The steak is amazing. ...

In [3]:
# data.loc[data['review_id'].isin(['x7mDIiDB3jEiPGPHOmDzyw','Er4NBWCmCD4nM8_p1GRdow','dDl8zu1vWPdKGihJrwQbpw'])]

In [19]:
stop = stopwords.words('english')

In [20]:
data['without_stopwords'] = data['text'].apply(lambda x: ' '.join([re.sub('[^a-zA-Z]', ' ',word) for word in x.lower().split() if word not in (stop)]))

In [21]:
data.head()

,review_id,text,without_stopwords
0,x7mDIiDB3jEiPGPHOmDzyw,The pizza was okay. Not the best I've had. I p...,pizza okay best i ve had prefer biaggio s fl...
1,dDl8zu1vWPdKGihJrwQbpw,I love this place! My fiance And I go here atl...,love place fiance go atleast week portions h...
2,LZp4UX5zK3e-c5ZGSeo3kA,Terrible. Dry corn bread. Rib tips were all fa...,terrible dry corn bread rib tips fat mushy f...
3,Er4NBWCmCD4nM8_p1GRdow,Back in 2005-2007 this place was my FAVORITE t...,back place favorite thai place ever ...
4,jsDu6QEJHbwP2Blom1PLCA,Delicious healthy food. The steak is amazing. ...,delicious healthy food steak amazing fish po...

In [34]:
dataIndex = {}
uniqueWords = []

In [36]:
for i in range(len(data)):
    li=data['without_stopwords'][i].split()
    for j in li:
        d={'index':[], 'review_id':[]}
        if j not in uniqueWords:
            uniqueWords.append(j)
            d['index'].append(i)
            d['review_id'].append(data['review_id'][i])
            dataIndex[j] = d
        else:
            if data['review_id'][i] not in dataIndex[j]['review_id']:
                dataIndex[j]['review_id'].append(data['review_id'][i])
                dataIndex[j]['index'].append(i)

In [40]:
frameset = []
for key, val in dataIndex.items():
    frameset.append([key, val['index'], val['review_id']])
df = pd.DataFrame(frameset,columns=['word','index','review_id'])

In [71]:
df.head()

,word,index,review_id
0,pizza,"[0, 5, 124, 127, 129, 138, 140, 149, 150, 161,...","[x7mDIiDB3jEiPGPHOmDzyw, pfavA0hr3nyqO61oupj-l..."
1,okay,"[0, 23, 108, 133, 135, 138, 261, 263, 296, 299...","[x7mDIiDB3jEiPGPHOmDzyw, MTrzrLQT_LK2VLK9xantH..."
2,best,"[0, 6, 15, 20, 33, 37, 41, 42, 43, 63, 70, 103...","[x7mDIiDB3jEiPGPHOmDzyw, brokEno2n7s4vrwmmUdr9..."
3,i,"[0, 3, 5, 6, 7, 9, 20, 23, 39, 41, 42, 46, 49,...","[x7mDIiDB3jEiPGPHOmDzyw, Er4NBWCmCD4nM8_p1GRdo..."
4,ve,"[0, 5, 6, 9, 20, 39, 41, 52, 54, 65, 76, 82, 8...","[x7mDIiDB3jEiPGPHOmDzyw, pfavA0hr3nyqO61oupj-l..."

In [47]:
df.to_csv('indexed_words.csv')

In [89]:
t = pd.read_csv('indexed_words.csv',error_bad_lines=False)
t = t.set_index('word')
t = t.iloc[:, 1:]
ast.literal_eval(t.loc['pizza']['review_id'])

'hiGKbKVj4hlF7GoNer4epA'